@model IEnumerable<SnapSaves.Models.Template>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var template in Model)
        {
            <li>
                <a href="#" class="template-link" data-template-id="@template.Id">
                    <strong>@template.Name</strong>
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>No universal templates available.</p>
}
