@model ICollection<SnapSaves.Models.UserCourse>

<h2>Students</h2>
<ul>
    @foreach (var userCourse in Model)
    {
        <li>
            <a href="#" class="student-projects-link"
               data-user-id="@userCourse.User.MongoUserId"
               data-course-id="@userCourse.CourseId"
               data-bs-toggle="modal"
               data-bs-target="#studentProjectsModal">
                @userCourse.User.FirstName @userCourse.User.LastName
            </a>
        </li>
    }
</ul>
</ul>
