@model SnapSaves.Models.Course

<h1>@Model.Name</h1>
<p>@Model.Description</p>

<!-- Render the CourseStudents partial view -->
@await Html.PartialAsync("_UserCourse", Model.UserCourses)

<!-- Render the CourseTemplates partial view -->
@await Html.PartialAsync("_CourseTemplate", Model.CourseTemplates)
