@model SnapSaves.Models.Course

<h1>@Model.Name</h1>
<p>@Model.Description</p>

<!-- Tab navigation -->
<ul class="nav nav-tabs" id="courseDetailsTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="students-tab" data-bs-toggle="tab" data-bs-target="#students" type="button" role="tab" aria-controls="students" aria-selected="true">
            Students
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="templates-tab" data-bs-toggle="tab" data-bs-target="#templates" type="button" role="tab" aria-controls="templates" aria-selected="false">
            Templates
        </button>
    </li>
</ul>

<!-- Tab content -->
<div class="tab-content" id="courseDetailsTabContent">
    <div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="students-tab">
        <!-- Render the CourseStudents partial view -->
        @await Html.PartialAsync("_UserCourse", Model.UserCourses)
    </div>
    <div class="tab-pane fade" id="templates" role="tabpanel" aria-labelledby="templates-tab">
        <!-- Render the CourseTemplates partial view -->
        @await Html.PartialAsync("_CourseTemplate", Model.CourseTemplates)
    </div>
</div>
