@model SnapSaves.Models.LearningPath

<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>

    <h5>Learning Items</h5>
    @if (Model.LearningPathItems.Any())
    {
        <ul>
            @foreach (var item in Model.LearningPathItems)
            {
                <li>
                    <strong>@item.LearningItem.Name</strong>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No learning items in this path.</p>
    }
</div>