version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__MySQLIdentity=Server=mysql;Port=3306;Database=snapsaves_auth;Uid=root;Pwd=your_mysql_password;SslMode=None;
      - MongoDbSettings__ConnectionString=mongodb://mongo:27017/SnapSaves
      - MongoDbSettings__DatabaseName=SnapSaves
    volumes:
      - dataprotection-keys:/app/dataprotection-keys
    depends_on:
      - mysql
      - mongo

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: your_mysql_password
      MYSQL_DATABASE: snapsaves_auth
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  dataprotection-keys:
  mysql-data:
  mongo-data:
