version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - dataprotection-keys:/app/dataprotection-keys
    
volumes:
  dataprotection-keys:
  mysql-data:
  mongo-data:
