@model List<SnapSaves.Models.Project>

@if (Model.Any())
{
    <ul>
        @foreach (var project in Model)
        {
            <li>
                <a href="@Url.Action("StudentProject", "SnapCode", new { projectId = project.Id })"
                   target="_blank"
                   class="student-project-link">
                    <strong>@project.Name</strong>
                </a>
                (Created: @project.CreatedAt.ToShortDateString())
            </li>
        }
    </ul>
}
else
{
    <p>No projects for this student in this course.</p>
}