@{
    Layout = "~/Views/Shared/_SnapCodeLayout.cshtml";
    ViewData["Title"] = "CheerpJ Viewer";
    var projectId = ViewData["ProjectId"] as string;
    var userId = ViewData["UserId"] as string;
}

<div id="snapcode-container">
    <iframe id="jdk-iframe"
            src="@Url.Action("Index", "Jdk", new { projectId = projectId, userId = userId })"
            style="width: 100%; height: 100%; border: none;">
    </iframe>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: Arial, sans-serif;
    }

    #snapcode-container {
        height: 100vh;
        width: 100vw;
    }

    #jdk-iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
</style>




