@model List<SnapSaves.Models.Project>

<h1>Your Projects</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var project in Model)
        {
            <li>
                <h3>
                    <a asp-controller="SnapCode" asp-action="Index" asp-route-projectId="@project.Id" asp-route-userId="@User.Claims.FirstOrDefault(c => c.Type == "MongoUserId")?.Value">
                        @project.Name
                    </a>
                </h3>
            </li>
        }
    </ul>
}
else
{
    <p>No projects found. Create a new project to get started.</p>
}
