html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
}

/* Default behavior: Add margin-bottom */
.custom-navbar {
    margin-bottom: 1rem;
}

/* Remove margin-bottom for SnapCode layout */
body.snapcode-layout .custom-navbar {
    margin-bottom: 0 !important;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#snapcode-iframe {
    height: 100vh;
    width: 100%;
    border: none;
}